[submodule "csharp-moduware-communication-protocol"]
	path = csharp-moduware-communication-protocol
	url = https://github.com/moduware/csharp-moduware-communication-protocol.git
	branch = master
[submodule "csharp-moduware-shared"]
	path = csharp-moduware-shared
	url = https://github.com/moduware/csharp-moduware-shared.git
	branch = master
[submodule "assassin-event-system"]
	path = assassin-event-system
	url = https://github.com/moduware/assassin-event-system.git
	branch = develop
[submodule "csharp-moduware-connection"]
	path = csharp-moduware-connection
	url = git@github.com:moduware/csharp-moduware-connection.git
	branch = master
[submodule "csharp-moduware-module-driver-system"]
	path = csharp-moduware-module-driver-system
	url = git@github.com:moduware/csharp-moduware-module-driver-system.git
	branch = master
